@charset "utf-8";

@media screen and (min-width:768px) and (max-width:1024px) {
.cart_btn{display: none;}

header{
	height: 170px;
	width: 100%;
	position: relative;
}

.h_top h1{
	position: absolute;
	left:15px; top: 20px;
	z-index: 9999;
}

.h_top h1 img{width:200px;}


label.total_btn{
	left: auto;
	right: 5px;
	top: 105px;
	font-size: 2rem;
	z-index: 9222;
}

/* lnb 서식 */
.h_top > .lnb{
	position: absolute;
	left: auto;
	right: 5px; top: 20px;
	width: 300px;
}

.h_top > .lnb > ul{
	flex-wrap: nowrap;
}

.h_top > .lnb > ul > li{
	background: none;
}
.h_top > .lnb > ul > li > a{
}

/* 검색폼 서식 */
fieldset{
	width: 465px;
	left: auto;
	position: absolute; right: -10px; top: 60px;
	text-align: right;
}

/* gnb 메인메뉴 서식 */

.gnb{
	position: absolute;
	left:auto; right:0px; top: 10px;
	background: none;
}

.gnb > ul{
	display: flex;
	/* padding-top: 113px; */
	justify-content: center;
	padding-right: 40px;
}

.gnb > ul > li{
	border: none;
	width: 125px;
	position: relative;
	text-align: center;
	text-indent: 0px;
}


.gnb > ul > li > a{
	font-size: 0.95rem;
}

.gnb > ul > li > a::after{
	width: 1px; height: 14px;
	background: #fff;
	content:"";
	display: block;
	position: relative;
	top: -27px;
}

.gnb > ul > li:first-child > a::after{
	display: none;
}

.gnb > ul > li > a > i.fa-angle-down{
	display: none;
}

.c_btn{display: none;}



/* 서브메뉴 서식 */

.sub{
	display: none;
	position: absolute;
	left: 0px; top: 59px;
	width: 100%; height: 200px;
	padding: 15px 0px;
	background: rgba(255,255,255,.8);
	text-align: center;
	line-height: 220%;
}


.sub > li > a{
	font-size: 0.8rem;
}

.gnb li:first-child .sub{
	padding-left: 300px;
	left: -300px;
}
.gnb li:nth-child(6) .sub{
	padding-right: 400px;
}

/* toggle클릭시 .lnb, .gnb, fieldset */
#toggle:checked ~ header .gnb .sub{display: block;}

#toggle:checked + header > .h_top > .lnb{
	left:auto;
}
#toggle:checked + header > .h_top > fieldset{
	left:auto;
}
#toggle:checked + header > .h_bottom > .gnb{
    left:auto;
}



/* 메인서식 */
.visual_slide{
	height: auto;


}
.visual_slide img{
	width: 100%;
	transform: scale(1);
	object-fit: cover;
    object-position:0px;
}

/* 사료 무료체험 서식 */
.free_ex article{
	flex-direction: row;
	justify-content: space-around;
}
.free_ex > article > img{
	width: 40%;
	margin: 0;
}

.free_ex_right{
	padding-top: 35px;
}
.free_ex_right > img{
	width: 50%;
	padding-bottom:	20px;
}

.free_ex_right > p{
	padding-bottom: 40px;
}

/* 상품목록서식 */
.product{
	width: 100%;

}

.product > li{
	width: 45%;
	margin: 0 auto;
}

.info{
	padding-top: 35px;
}


/* 하림펫스토리 */
.story > article{
	display: flex;
    justify-content: space-around;
}


.story > article > img{
	width: 40%;
	margin: 0;
}

.story_left{
	padding-top: 35px;
	width: 30%;
	margin: 0px;
}
.stroy_left > h3{padding-bottom: 80px;}


/* 인스타그램 서식 */
.gallery{
	display: grid;
	grid-gap:10px;
	padding: 10px;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, 230px); 
}

.gallery > li:nth-child(6) ~ li{display: block;}
.gallery > li:nth-child(9) ~ li{display: none;}



/* 푸터서식 */
footer{height: 500px;}
.f_top{
	flex-wrap:nowrap;
	flex-direction: row-reverse;
	height: 50px;
	background: #989898;
}

.f_nav{
	width: 40%;
	line-height: 50px;
	background: #989898;}

.f_top > dl{
	width: 65%;
	line-height: 50px;
}

.f_bottom > ul{
	display: flex;
	flex-wrap: nowrap;
}

.f_bottom > ul > li:first-child{order: 1; width: 150%;}
.f_bottom > ul > li:nth-child(2){order:2;width: 150%;}
.f_bottom > ul > li:nth-child(3){order:4;}
.f_bottom > ul > li:last-child{order:3;}


.f_bottom select, .f_bottom li:nth-child(3) a{position: absolute;}

.f_bottom select{
	width: 200px;
	right: 40px; top: 70px;
}

.f_bottom li:nth-child(3) a{
	right: 40px; top:105px;
}

.f_bottom li:nth-child(3) a:first-child{transform: translateX(-100px);}
.f_bottom li:nth-child(3) a:nth-child(2){transform: translateX(-50px);}




@media screen and (min-width:881px) and (max-width:1024px) {
	.gallery{
		grid-template-columns:repeat(4, auto);
		grid-template-rows : repeat(3, 230px)
	}
	.gallery > li:nth-child(6) ~ li{display: block;}
	.f_bottom br{display: none;}

	.f_bottom dl.info{
		width: 80%;
	}
}
}